hr {
    height: -13px;
    width: 800px;
}
.auto-style1 {
    width: 100%;
}

.auto-style2 {
    width: 372px;
    text-align: right;
}

.auto-style6 {
    width: 214px;
}

.auto-style11 {
    text-align: left;
}

#Reset1 {
    width: 95px;
    height: 30px;
}

.auto-style24 {
    width: 372px;
    text-align: right;
    height: 45px;
}

.auto-style25 {
    width: 214px;
    height: 45px;
}

.auto-style26 {
    text-align: left;
    height: 45px;
}
