hr {
    height: -13px;
    width: 800px;
}

.auto-style1 {
    text-align: center;
}

.auto-style2 {
    width: 100%;
}

.auto-style3 {
    height: 40px;
}

.auto-style6 {
    height: 46px;
    width: 164px;
}

.auto-style8 {
    width: 396px;
}

.auto-style9 {
    width: 213px;
    text-align: left;
}

.auto-style10 {
    width: 396px;
    height: 26px;
}

.auto-style11 {
    width: 213px;
    text-align: left;
    height: 26px;
}

.auto-style12 {
    height: 26px;
}

.auto-style13 {
    height: 46px;
    text-align: left;
    width: 299px;
}

.auto-style14 {
    height: 46px;
    width: 144px;
}
